[submodule "assets/audio/third_party/kenney_impact_sounds"]
	path = assets/audio/third_party/kenney_impact_sounds
	url = https://github.com/Boyquotes/kenney-impact-sounds-for-godot.git
[submodule "assets/audio/source_packs/cc0_public_domain_sounds"]
	path = assets/audio/source_packs/cc0_public_domain_sounds
	url = https://github.com/lavenderdotpet/CC0-Public-Domain-Sounds.git
[submodule "assets/audio/music/source_packs/efface_cc0_music_pack"]
	path = assets/audio/music/source_packs/efface_cc0_music_pack
	url = https://github.com/effacestudios/Royalty-Free-Music-Pack.git
