[submodule "assets/audio/third_party/kenney_impact_sounds"]
	path = assets/audio/third_party/kenney_impact_sounds
	url = https://github.com/Boyquotes/kenney-impact-sounds-for-godot.git
[submodule "assets/audio/source_packs/cc0_public_domain_sounds"]
	path = assets/audio/source_packs/cc0_public_domain_sounds
	url = https://github.com/lavenderdotpet/CC0-Public-Domain-Sounds.git
[submodule "assets/audio/music/source_packs/efface_cc0_music_pack"]
	path = assets/audio/music/source_packs/efface_cc0_music_pack
	url = https://github.com/effacestudios/Royalty-Free-Music-Pack.git
[submodule "assets/audio/third_party/kenney_rpg_audio"]
	path = assets/audio/third_party/kenney_rpg_audio
	url = https://github.com/Boyquotes/kenney-rpg-audio-for-godot.git
[submodule "assets/audio/third_party/kenney_interface_sounds"]
	path = assets/audio/third_party/kenney_interface_sounds
	url = https://github.com/Calinou/kenney-interface-sounds.git
[submodule "assets/audio/third_party/kenney_digital_audio"]
	path = assets/audio/third_party/kenney_digital_audio
	url = https://github.com/Boyquotes/kenney-digital-audio-for-godot.git
[submodule "assets/audio/source_packs/ambient_sounds_muges"]
	path = assets/audio/source_packs/ambient_sounds_muges
	url = https://github.com/Muges/ambientsounds.git
[submodule "assets/audio/source_packs/sound_cc0_misc"]
	path = assets/audio/source_packs/sound_cc0_misc
	url = https://github.com/code4fukui/sound-cc0.git
[submodule "assets/audio/source_packs/stargate_cc0_sample_pack"]
	path = assets/audio/source_packs/stargate_cc0_sample_pack
	url = https://github.com/stargatedaw/stargate-sample-pack.git
